@import '../../../css/config';

.wrapper {
	width: 42px;
	height: 42px;
	z-index: 1;
    position: relative;

	&:hover {
		.btn {
			border-radius: 10px 10px 0 0;
			transition: border-radius 100ms ease;
		}
		.dropdown {
            transform: translate(0, 25%) scale(1);
		}
	}

	.dropdown {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
        position: absolute;
        top: 0;
        left: 0;
        padding: .5rem 0;
		color: white;
		background: $color-body--primary;
		list-style: none;
		border-radius: 0 10px 10px 10px;
        transform: translate(-40%, -35%) scale(.2);
        transition: transform 100ms ease;
        z-index: -1;

        .item {
            width: 100%;
            height: 100%;
            line-height: 24px;
            &:hover {
                background: lighten($color-body--primary, 10%);
            }
        }
        .link {
            width: 100%;
            height: 100%;
            padding: .5rem 2rem;
            display: block;
            text-decoration: none;
            color: $color-body--secondary;
        }
	}
}

.btn {
	width: 100%;
	height: 100%;
	background: $color-body--primary;
	border: 0;
	cursor: pointer;
	position: relative;
	border-radius: 10px 10px 10px 0;
	transition: border-radius 100ms ease;

	&::before,
	&::after {
		content: '';
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background: $bg-white;
		border-radius: 4px;
	}
	&::before {
		width: 60%;
		height: 4px;
	}
	&::after {
		width: 4px;
		height: 60%;
	}

	&:hover {
		&::before,
		&::after {
			background: lighten($bg-white, 20%);
		}
	}
}
