.contact-form {
  width: 418px;
  height: 517px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 2rem;
}
.contact-form .form__input,
.contact-form .form__textarea {
  display: block;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #0A2540;
  background: inherit;
  resize: none;
  margin: 1rem 0;
}
.contact-form .btn {
  border-color: #0A2540;
  color: #0A2540;
}
.contact-form .btn::before {
  background: #0A2540;
}