@import '../../../css/config';

.contact-form {
	width: 418px;
	height: 517px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	padding: 2rem;

	.label {
		width: 100%;
	}

	.form__input,
	.form__textarea {
		display: block;
		width: 100%;
		border: 0;
		border-bottom: 2px solid $color-body--primary;
		background: inherit;
        font-family: inherit;
        font-size: inherit;
		resize: none;
		margin: .5rem 0;
        padding: .5rem 0;
    }
}

