@import '../../../css/config';
@import '../../../components/Button/css/Button.module.scss';

.teaser {
	padding: 0 13rem;
	height: 100vh;
	width: 100%;
	display: grid;
	grid-template-columns: 445px 1fr;
	align-items: center;
	color: $color-body--secondary;
	background: $bg--primary;

	&--left,
	&--right {
		// padding-bottom: 18rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	&--left {
		width: 445px;
		align-items: flex-start;
	}
	&--right {
		align-items: flex-end;

		.spotlight {
			width: 512px;
		}
	}

	&__title {
		font-size: 2.5rem;
		margin-bottom: 0.5rem;
	}
	&__subtitle {
		font-size: 1.5rem;
		opacity: 0.9;
		margin-bottom: 1.75rem;
	}
}

.about__wrapper {
	height: 100vh;
	width: 100vw;
	position: absolute;
	top: 100vh;
	width: 100%;
	background: $bg--alt;
}

.contact__wrapper {
	height: 100vh;
	width: 100vw;
	position: absolute;
	top: 200vh;
	width: 100%;
	background: $bg--white;
}

.about,
.contact {
	height: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;

	&__left,
	&__right {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.about {
	padding: 0 13rem;

	&__img-container {
		height: 320px;
	}

	&__text-container {
		height: 320px;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		flex-direction: column;
		text-align: left;
	}
	&__title {
		display: inline-block;
		text-align: left;
		position: relative;
		margin-bottom: 0.3em;
		z-index: 1;

		&::before {
			content: '';
			display: block;
			position: absolute;
			bottom: 3px;
			left: 0;
			width: 63%;
			height: 13px;
			background: rgba($bg-btn--secondary, 0.6);
			z-index: -1;
		}
	}

	&__img {
		width: 564px;
		transform: translate(-20px, 2px);
	}

	&__border {
		width: 90%;
		border: 10px solid rgba($bg-btn--secondary, 0.6);
		border-left: 0;
		position: relative;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 10px;
			height: 100%;
			background: rgba($bg-btn--secondary, 0.6);
			z-index: 10;
		}
	}
}

.contact {
	&__img-container {
		height: 100%;
		background: salmon;
	}
	&__img {
		height: 100%;
		width: 100%;
		object-fit: cover;
		object-position: 20% 0;
	}
}
