.teaser {
  padding: 0 13rem;
  height: calc(100vh - 214px);
  margin-top: 214px;
  display: grid;
  grid-template-columns: 445px 1fr;
  color: #F0F0F0;
  background: linear-gradient(45deg, #4f5b92 15%, #c75a67, #ffd6d6) fixed;
}
.teaser--left, .teaser--right {
  padding-bottom: 18rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.teaser--left {
  width: 445px;
  align-items: flex-start;
}
.teaser--right {
  align-items: flex-end;
}
.teaser--right .spotlight {
  width: 603px;
}
.teaser__title {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}
.teaser__subtitle {
  font-size: 1.5rem;
  opacity: 0.9;
  margin-bottom: 1.75rem;
}
.teaser .btn {
  background: #f04b1a;
  border-color: #f04b1a;
}
.teaser .btn:hover {
  background: #FF6200;
  border-color: #FF6200;
}

.about__wrapper {
  height: 700px;
  width: 100vw;
  position: absolute;
  top: 100vh;
  width: 100%;
  background: #FAFAFA;
}

.about {
  height: 100%;
  padding: 0 13rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.about__left, .about__right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about__img-container {
  height: 320px;
}
.about__text-container {
  height: 320px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  text-align: left;
}
.about__title {
  display: inline-block;
  text-align: left;
  position: relative;
  z-index: 1;
}
.about__title::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 3px;
  left: 0;
  width: 63%;
  height: 13px;
  background: rgba(240, 75, 26, 0.6);
  z-index: -1;
}
.about__img {
  width: 564px;
  transform: translate(-10px, 2px);
}
.about__border {
  width: 90%;
  border: 10px solid rgba(240, 75, 26, 0.6);
  border-left: 0;
  position: relative;
}
.about__border::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 100%;
  background: rgba(240, 75, 26, 0.6);
  z-index: 10;
}