@import 'config';
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,700;1,400&display=swap');

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html, body, #root {
	height: 100%;
}

html {
	font-size: 16px;
}

body {
	width: 100%;
    min-height: 100vh;
	margin-top: 5rem;
	font-family: 'Josefin Sans', sans-serif;
	font-size: $font-body--primary;
	color: $color-body--primary;
	background: $bg--primary;
}

// main {
//     flex: 1 0 auto;
// }

header {
	width: 100%;
	display: flex;
	justify-content: center;
}

.content-container {
	width: 100%;
	max-width: 1310px;
	padding: 0 15px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
}

//  1280px + 30px padding (15px per kant) = 1310px max-width ;

// .search-bar {
// 	height: 2em;
// 	width: 500px;
// }

// .search-bar__input {
// 	height: 100%;
// 	width: 80%;
// 	padding: 0 1em;
// 	border: 0;
// 	border-radius: 500px;
// 	border-top-right-radius: 0;
// 	border-bottom-right-radius: 0;
// 	background: #ddd;
// }

// .search-bar__btn {
// 	height: 100%;
// 	width: 20%;
// 	padding: 0 1em;
// 	border-top-left-radius: 0;
// 	border-bottom-left-radius: 0;
// }
