// Main Styles

$color-body--primary: #0A2540;
$color-body--secondary: #F0F0F0;
$bg-btn--primary: #0A2540;
$color-btn--primary: #F0F0F0;
$bg-btn--primary-alt: #16497C;
$bg-btn--secondary: #f04b1a;
$color-btn--secondary: #f04b1a;
$bg-btn--secondary-alt: #FF6200;
$color-btn--secondary-alt: #F0F0F0;


$font-body--primary: 18px;