@import '../../../css/config';
@import '../../../components/Button/css/Button.module.scss';

.content {
    height: 100%;
    margin-left: 260px;
    padding: 5rem 1rem;

    @media only screen and (max-width: get-breakpoints('lg')) {
        margin-left: 0;
    }
}

.table-container {
    overflow: auto;
    border-radius: 10px;
    margin-top: 1rem;
    position: relative;

}

.title-container {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items:center;
}

.no-content {
    @media only screen and (max-width: get-breakpoints('lg')) {
        font-size: 1.5rem;
    }
}

.deleteBtn {
    position: absolute;
    top: 0rem;
    border: 0;
    border-radius: 500px;
    text-transform: uppercase;
    padding: 0 1.5rem;
    height: 2rem;
    color: $color-body--secondary;
    background: $bg-btn--danger;
    cursor: pointer;
    transition: box-shadow 250ms ease;

    &:hover {
        box-shadow: 3px 3px 3px rgba(black, .16);
    }
}

.hamburgerBtn {
    display: none;
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    z-index: 100;

    @media only screen and (max-width: get-breakpoints('lg')) {
        display: block;
    }

    @media only screen and (max-width: get-breakpoints('sm')) {
        top: auto;
        bottom: 1.5rem;
    }
}

.mobileSideMenu {
    display: none;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 200px;
    background: rgba($color-body--secondary, .3);
    color: $color-body--primary;
    padding: 2rem;
    z-index: 99;

    ul {
        list-style: none;
        text-align: center;

        li {
            margin: 1rem;
        }

        a {
            text-decoration: none;
            &:visited {
                color: inherit;
            }
            &:hover {
                text-decoration: underline;
            }
        }
    }

    @media only screen and (max-width: get-breakpoints('sm')) {
        background: $color-body--primary;
        color: $bg-btn--secondary;
    }
}

