@import '../../../css/config';

.sidemenu {
	--paddingX: 0.75rem;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	max-height: 100%;
	width: 100%;
	max-width: 260px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	background: $color-body--primary;
	border-top-right-radius: 50px;

	.inner {
		height: 100%;
		width: 100%;
		padding-left: var(--paddingX);
		padding-right: var(--paddingX);
		padding-top: 1rem;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	.logo {
		align-self: center;
	}

	.link:first-of-type {
		margin-top: 3rem;
	}
	.link:last-of-type {
		margin-top: auto;
		margin-bottom: 3rem;
	}

	.link {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		padding: 1rem;
		border-radius: 10px;
		transition: background 100ms ease;
		position: relative;
		text-decoration: none;
		color: $color-body--secondary;

		.item {
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: flex-start;
		}

		.icon {
			height: 75%;
			margin-right: 1rem;
		}

		&:hover {
			background: lighten($color-body--primary, 10%);
			transition: background 100ms ease;
		}

		&.active::after {
			--width: 6px;
			content: '';
			width: var(--width);
			height: 100%;
			display: block;
			position: absolute;
			top: 0;
			right: calc(var(--paddingX) * -1 - (var(--width) / 2));
			background: #22d3d3;
			box-shadow: 1px 1px 8px #22d3d3;
			border-radius: 5px;
		}
	}
}
