@import '../../../css/config';

.navbar {
	--margin-top: 3.5rem;
	height: 3.5em;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 10;

	&--primary {
		margin: 3.5rem 13rem;

		.navbar__btn-container {
			margin-left: 5rem;
		}
	}
	&--secondary {
		margin: 3.5rem 4rem 0 5.1875rem;
	}

	.btn {
		margin: 0.5em;
	}

	&__link {
		position: relative;
		margin: 0 1em;

		.active {
				&::after {
				content: '';
				position: absolute;
				display: block;
				width: 100%;
				border-radius: 10px;
				height: 3px;
				background: $color-body--secondary;
			}
		}
	}
}
