.navbar {
    --margin-top: 3.5rem;
	height: 3.5em;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 10;
	

	&--primary {
		margin: 3.5rem 13rem;
	}
	&--secondary {
		margin: 3.5rem 4rem 0 5.1875rem;
	}
}
