@import '../../../css/config';

$navbar-height: 3.5rem;
$navbar-margin-top: 3.5rem;

.navbar {
	margin-top: $navbar-margin-top;
	height: $navbar-height;
	display: grid;
	grid-template-columns: 560px 1fr;
	z-index: 10;

	&--primary {
		margin: $navbar-margin-top 13rem 6.375rem;
		background: $bg--primary;

		.navbar__left {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		.navbar__right {
			display: flex;
			justify-content: flex-end;
			margin-left: 5rem;
		}
	}
	&--secondary {
		margin: $navbar-margin-top 4rem 0 5.1875rem;
	}

	.btn {
		margin: 0.5em;
	}

	&__link {
		position: relative;
		margin: 0 1em;
		position: relative;

		&.active {
			&::after {
				content: '';
				position: absolute;
				bottom: -2px;
				left: 0;
				display: block;
				width: 100%;
				border-radius: 10px;
				height: 3px;
				background: $color-body--secondary;
			}
		}
	}
}
