.btn {
  border: 0;
  border-radius: 500px;
  padding: 0.75rem 2rem;
  text-transform: capitalize;
  font-size: inherit;
  font-family: inherit;
  font-weight: 700;
  cursor: pointer;
}
.btn--primary {
  color: #F0F0F0;
  background: #0A2540;
  border: 3px solid #0A2540;
  transition: background 100ms ease, border-color 100ms ease;
}
.btn--primary:hover {
  background: #16497C;
  border-color: #16497C;
}
.btn--secondary {
  color: #f04b1a;
  border: 3px solid #f04b1a;
  background: transparent;
  transition: background 150ms ease, border-color 150ms ease, color 150ms ease;
}
.btn--secondary:hover {
  color: #F0F0F0;
  background: #f04b1a;
}