@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;700&display=swap');

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	height: 100vh;
    width: 100%;
    font-family: 'Lexend', sans-serif;
    background: #f1f1f1;
}

.container {
    height: 100vh;
	display: grid;
    grid-template-areas: "header header"
                         "aside main";
    grid-template-rows: 3.5em 1fr;
    grid-template-columns: 200px 1fr;
}

header {
    grid-area: header;
}
aside {
    grid-area: aside;
}
main {
    grid-area: main;
    display: flex;
    justify-content: center;
    padding: 2em;
}


button {
	border: 0;
	border-radius: 500px;
	background: #333;
	padding: .75em 2em;
	color: #f1f1f1;
	text-transform: uppercase;
	font-weight: 700;
	cursor: pointer;
}

.navbar {
	width: 100%;
	height: 3.5em;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 4rem;
	padding: 0 50px;
	background: red;
    z-index: 10;
}

.logo {
	text-transform: uppercase;
	font-weight: 700;
	color: #f1f1f1;
    cursor: pointer;
}

.sidemenu {
	height: 100%;
	width: 200px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding-top: 4em;
	background: #ddd;
}

.sidemenu__btn {
	margin: 2em;
}

.search-bar {
    height: 2em;
    width: 500px;
}

.search-bar__input {
    height: 100%;
    width: 80%;
    padding: 0 1em;
    border: 0;
    border-radius: 500px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background: #ddd;
}

.search-bar__btn {
    height: 100%;
    width: 20%;
    padding: 0 1em;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

